/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
/* Section 1 */
}
section{
    border: 5px solid green;
    height:150px;
}
/* Section 2 */
section + section{
    border: 5px solid red;
    height: 500px;
    width: 20%;
    float: left;

}
/* Section 3 */
section + section + section{
    border: 5px solid blue;
    height: 500px;
    width: 40%;
}
/* Section 4 */
section + section + section + section{
    border: 5px solid black;
    height: 500px;
    width: 20%;
}
/* Section 5 */
section + section + section + section + section{
    border: 5px solid purple;
    height: 500px;
    width: 20%;
}
/* Section 6 */
section + section + section + section + section + section{
    border: 5px solid orange;
    height: 200px;
    width: 100%;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
